*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
   height: 100vh; 
}
.perfilInfo{
  width: 20vw;
  background-color: rgba(177, 71, 32, 0.89);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgba(177, 71, 32, 0.89);
}

#botoes{
  text-align: center;
}
.btn,p{
  cursor: pointer;
  user-select: none;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
.dadosPessoais{
  align-self: center;
  margin-left: 30px;
}
#nome {
  color: rgb(94, 93, 93);
  font-size: 40px;
}
#sobrenome {
  color: rgba(177, 71, 32, 0.89);
  font-size: 40px;
}
#botaoEmail {
  color: rgba(177, 71, 32, 0.89);
  font-size: medium;
  text-decoration: none;
}
#imagens {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}
#descricao,ul,ol{
  color: rgb(94, 93, 93);
  font-size: 30px;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}
